rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth != null;
    }

    // Rule for user profile images
    // imageFileName will capture the full name, e.g., "USER_ID.jpg"
    match /user_images/{imageFileName} {
      allow write: if request.auth != null &&
                      imageFileName.endsWith('.jpg') &&
                      request.auth.uid == imageFileName.substring(0, imageFileName.lastIndexOf('.'));
    }

    // Simplified rule for meet cover images
    match /meet_covers/{coverFile} {
      allow write: if request.auth != null;
    }
  }
}